<div class="text-center" ng-controller="MatchCtrl as match">
	<div id="fullpage">
		<div class="section first-section">
			<h1>TRIGGER</h1>
			<h2>Command & Conquer</h2>
		</div>
		<div class="section second-section">
			<div class="row">
				<div class="col-md-4"><h1>Prvo</h1></div>
				<div class="col-md-4"><h1>Drugo</h1></div>
				<div class="col-md-4"><h1>Trece</h1></div>
			</div>
		</div>
		<div class="section third-section">
			<h1>WATCH GAME LIVE</h1>
			<div class="container">
				<table class="table">
					<tr class="text-center">
						<th>No.</th>
						<th>Team 1</th>
						<th>Team 2</th>
						<th>Map</th>
						<th>WATCH GAME</th>
					</tr>
					<tr class="text-left" ng-repeat="match in match.Matches">
						<td>{{$index+1}}.</td>
						<td>{{match.team[0].name}}</td>
						<td>{{match.team[1].name}}</td>
						<td>{{match.map.name}}</td>
						<td>
							<a href="#main">
							<span 
							class="glyphicon glyphicon-play" 
							match-id-traversal 
							data-matchID="{{match.idGame}}">
							</span>
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		$('#fullpage').fullpage();
	});
</script>