<div class="text-center">
	<div id="fullpage">
		<div class="section first-section">
			<h1>Application name</h1>
			<p>Application for doing something nasty</p>
		</div>
		<div class="section second-section">
			<div class="row">
				<div class="col-md-4">A</div>
				<div class="col-md-4">B</div>
				<div class="col-md-4">C</div>
			</div>
		</div>
		<div class="section third-section">
			<h1>Ready to roll?</h1>
			<a ng-href="#/login"><button class="btn btn-primary btn-lg"></span> GET STARTED</button></a>
			<a ng-href="#/register"><p>Don't have an account? Sign up</p></a>

		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		$('#fullpage').fullpage();
	});
</script>