<div class="container login">
	<div class="row">
			<div class="text-center">
				<h2>Application Name</h2>
			</div>
		<div class="form-wrapper col-md-8 col-md-offset-2">
			<hr>
			<form ng-submit="login.CheckUser()" >
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
						<input ng-model="login.username" type="text" name="username" class="form-control" placeholder="Username" required/>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
						<input ng-model="login.password" type="password" name="password" class="form-control" placeholder="Password" required/>
					</div>
				</div>
				<div ng-show="login.errorMessage" class="alert alert-danger" role="alert">{{login.errorMessage}}</div>
				<button class="btn btn-primary btn-block">LOGIN</button>
				<div class="text-center">
					<a ng-href="#/register">Don't have an account?  <strong>Sign up</strong></a>
				</div>
			</form>
		</div>
	</div>
</div>