<div class="container-fluid matchMap">
	<div id="matchMap" style="width: 100%; height: 400px;"></div>
	<div class="container">
		<div class="obstacles">
			<img ng-click="map.setIcon('flag')" ng-class="{'bordered' : map.icon == 'flag'}" src="images/icon_flag.png" width="70px" alt="">
			<img ng-click="map.setIcon('house')" ng-class="{'bordered' : map.icon == 'house'}" src="images/icon_house.png" width="70px" alt="">
			<img ng-click="map.setIcon('fence')" ng-class="{'bordered' : map.icon == 'fence'}" src="images/icon_fence.png" width="70px" alt="">
			<img ng-click="map.setIcon('woman')" ng-class="{'bordered' : map.icon == 'woman'}" src="images/icon_woman.png" width="70px" alt="">
		</div>
		<form>
				<br>
				<input type="text" class="text-center" ng-model="map.mapName" name="username" placeholder="Map name" required/>
				<br>
				<br>
				<div class="text-center">
					<button class="btn btn-default" ng-click="map.AddMap()"> CREATE MAP </button>
				</div>
				<br>
				<div class="alert alert-success" ng-show="map.alert" role="alert">
					<span class="glyphicon glyphicon-ok"></span> Map created successfully
				</div>
		</form>
	</div>
</div>