<div class="container">
	<form ng-submit="newMatch.AddMatch()">
		<div class="form-group">
			<input type="text" name="team1" ng-model="newMatch.team1" class="form-control" placeholder="Team 1 name" required/>
		</div>
		<div class="form-group">
			<input type="password" name="team2" ng-model="newMatch.team2" class="form-control" placeholder="Team 2 name" required/>
		</div>
		<select class="form-control" ng-model="newMatch.map">
		  <option ng-repeat="maps in newMatch" value="{{maps.idMap}}">{{maps.name}}</option>
		</select>
		<br>
		<button class="btn btn-primary btn-block">CREATE MATCH</button>
	</form>
</div>