<div class="container login register">
	<div class="row">
			<div class="text-center">
					<h2>LOGO</h2>
			</div>
		<form ng-submit="register.Register()" class="form-wrapper col-md-10 col-md-offset-1" enctype="multipart/form-data">
			<hr>
			<div class="form-group">
				<input ng-model="register.name" type="text" name="name" class="form-control" placeholder="Name" required/>
			</div>
			<div class="form-group">
				<input ng-model="register.surname" type="text" name="surname" class="form-control" placeholder="Surname" required/>
			</div>
			<div class="form-group">
				<input ng-model="register.email" type="email" name="email" class="form-control" placeholder="Email" required/>
			</div>
			<div class="form-group">
				<input ng-model="register.username" type="text" name="username" class="form-control" placeholder="Username" required/>
			</div>
			<div class="form-group">
				<div class="input-group">
					<input ng-model="register.password" type="{{register.passwordType}}" name="password" class="form-control" placeholder="Password" required/>
					<div ng-click="register.ChangePassVisibility()" class="input-group-addon pass-opacity">
						<span ng-class="register.passwordType == 'password' ? 'glyphicon-eye-open':'glyphicon-eye-close'" class="glyphicon"></span>
					</div>
				</div>
			</div>
			<button class="btn btn-primary btn-block">SUBMIT</button>
		</form>
	</div>
</div>