// bower:scss
@import "fullpage.js/jquery.fullPage.scss";
// endbower


$darkGrey: #1f2421; //rgba(31, 36, 33, 100)
$blue: #216869; //rgba(33, 104, 105, 100)
$darkGreen: #49a078; //rgba(73, 160, 120, 100)
$lightGreen: #93A2B0; //rgba(156, 197, 161, 100)
$white: #dce1de; //rgba(220, 225, 222, 100)

$whiteHover:  #D7DAE1;
$grey:        #474F4D; //rgba(169, 188, 208, 100)

$heading:     'Black Ops One', cursive;
$tittilium:   'Titillium Web', sans-serif;
$para:        'Montserrat', sans-serif;
$additional:  'Source Sans Pro', sans-serif;

h1,h2,h3,h4,h5{
  font-family: $tittilium;
  color: $darkGreen;
}

p, input{
  font-family: $para;
  font-size: 20px;
  color: $grey;
}

html, body{
    margin:0px;
    padding:0px;
    background-color: #c8ccc0;;
    background-image: url("http://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

a{
  color: $white;
  font-family: $heading;
  &:hover{
    color: $whiteHover;
    text-decoration: none;
  }
}

button{
  font-family: $tittilium;
}

.container-fluid{
  padding: 0px !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* GENERAL SETTINGS */
/* buttons */
.buttons{
    background-color: $white;
    border: solid 1px $white;
    color: $darkGreen;
    padding: 20px 0px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: all 200ms linear;
    &:hover{
      color: $darkGreen;
      background-color: $whiteHover;
      border: 1px solid $whiteHover;
      opacity: 0.7;
    }
}


// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------


/* introduction */
#fullpage {
  button{
    @extend .buttons;
    padding: 20px 160px;
  }
}

.first-section{
  background: url("../images/paintball22.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1{
    margin-top: 400px;
    background-color: rgba(255,255,255, 0.1);
    font-family: $heading;
    color: $white;
    font-size: 100px;
  }
  h2{
    background-color: rgba(255,255,255, 0.1);
    padding: 10px;
    color: $white;
  }
}

.second-section{
  background-color: $darkGrey;
  h1{
    color: $white;
    font-weight: 700;
  }
  h2{
    color: $whiteHover;
  }
}

.third-section{
  background: $grey;
  font-family: $tittilium;
  font-size: 22px;
  color: $whiteHover;
  h1{
    font-family: $heading;
    color: $whiteHover;
    font-size: 48px;
    padding-bottom: 40px;
  }
  h4{
    position:absolute;
    bottom: 20px;
    left: 47%;
    color: $white;
    border-bottom: 3px solid $white;
    &:hover{
      color: $whiteHover;
    }
  }
  p{
    font-size: 14px;
  }
  span{
    cursor: pointer;
    transition: all 200ms linear;
    &:hover{
      color: $lightGreen;
    }
  }
}


// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------


/* Login */
.login{
  margin-top: 5%;
  background-color: $whiteHover;
  border-top: 10px solid $darkGreen;
  padding-bottom: 30px;
  box-shadow: 5px 5px 5px #C3BCBC;
  h2{
    font-family: $additional;
    font-weight: 300;
    margin: 35px 0;
    color: $darkGrey;
  }
  input{
    height: auto;
    background-color: rgba(240,240,240, 0.8);
    padding: 12px 15px;
    border-radius: 3px;
    font-size: 18px;
  }
  a{
    font-family: $additional;
    color: $grey;
  }
}

.login button{
  @extend .buttons;
  background-color: $lightGreen;
  color: $white;
  &:hover{
    background-color:$darkGreen;
    color: $white;
  }

}


// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------


/* Registration */
.register{
  margin-bottom: 100px;
}

.pass-opacity {
  cursor: pointer;
}



// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------



/* Navigation */
.menu-container{
  position: relative;
  display: block;
  height: 70px;
  width: 100%;
  margin: 0 auto;
  background-color: $grey;

  .menu-container__icon {
    position: relative;
    height: 40px;
    width: 40px;
    top: 17px; 
    left: 25px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  .menu-container__app{
    position: absolute;
    right: 50px;
    top: 20px;
    color: $white;
    .menu-container__app-login{
      display: relative;
      display: inline-block;
      font-size: 16px;
      a {
        font-family: $para;
        color: $white;
        padding-right: 30px;
        transition: all 150ms linear;
        &:hover{
          text-decoration: none;
          color: $lightGreen;
        }
      }
      span{
        padding-right: 2px;
      }
    }
  }
}

/* Navigation -- icon */
.menu-container__icon:hover > .menu-icon {
  border-top: 6px solid $whiteHover;
}
.menu-icon{
    position: absolute;
    border-top: 6px solid $white;
    width: 100%;
    left: 0;
    transition: all 200ms ease-in-out;
}
.menu-icon--top{
      top: 0;
}
.menu-icon--middle{
      top: 13px;
}
.menu-icon--bottom{
      top: 26px;
}

.menu-rotate{
  transform: rotateY(-180deg);
  transition: all 200ms ease-in-out;
}

.menu-top-action{
  top: 15px;
  transform: rotate(45deg);
  transition: all 150ms linear;
}
.menu-middle-action{
  opacity: 0;
}
.menu-bottom-action{ 
  top: 15px; 
  transform: rotate(-45deg);
  transition: all 150ms linear;
}

/* Navigation -- Flip */
.flip-container{
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000;
  
  .front{
    z-index: 2;
    transform: rotateY(0deg);
  }
  .back{
    transform: rotateY(180deg);
  }
}

.front, .back{
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.flip-inner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 400ms;
}

.flip-inner-action{
  transform: rotateY(-180deg);
}


/*Navigation -- list */
.back nav ul{
  list-style: none;
  text-align: center;
  font-size: 24px;
  padding-left: 0;

  li{
    padding: 20px;
    width: 100%;
    color: white;
    border-bottom: 2px solid rgba(240,240,240,0.4);
    
    &:last-child{
      border: none;
    }

    &:hover{
      background-color: $lightGreen;
      transition: all 400ms ease-in-out;
    }
  }

  a {
    font-family: $para;
    text-decoration: none;
    font-weight: 700;
    padding: 20px;
    color: $grey;
  }
}


// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------

/* New match */

.inputTeam{
    font-family: $heading;
    font-size: 40px;
    border: none;
    border-bottom: 5px solid #fff;
    background-color: transparent;
    color: #fff;
}

.alphaTeam{
  position: relative;
  width: 100%;
  height: 300px;
  background: url(../images/teamAlpha.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  input{
    @extend .inputTeam;
    margin-top: 160px;
    margin-left: 20%;
  }
}

.betaTeam{
  position: relative;
  width: 100%;
  height: 300px;
  background: url(../images/paintball2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  input{
    @extend .inputTeam;
    margin-top: 160px;
  }
}

.timer{
  margin-top: 100px;
  input{
    @extend .inputTeam;
    width: 100%;
    border-bottom: 6px solid $whiteHover;
    font-family: $heading;
    font-size: 60px;
    color: $grey;
  }
}

.circle-container {
  position: relative;
  perspective: 1000;  
  margin: 0 auto; 
  cursor: pointer;
}
    
.circle-container:hover .circle {
  transform: rotate3d(45, 45, 0, 180deg);
}
    
.circle-container:hover .outer-ring {
  transform: rotate3d(45, 0, 0, 180deg);
}

.circle-container:hover .outer-outer-ring {
  transform: rotate3d(0, 45, 0, 180deg);
}
    
.circle-container, .circle-front, .circle-back {
  width: 175px;
  height: 175px;
  background-color: rgba(0,0,0,0);
}
    
.circle, .outer-ring, .outer-outer-ring {
  transition: 0.5s;
  transform-style: preserve-3d;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
    
.circle {
  position: relative;
  width: 175px;
  height: 175px;
}
    
.circle-front, .circle-back {
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
    
.circle-front {
  background-color: #fff;
  z-index: 2;
}
    
.circle-front p {
  margin-top: 1.2em;
  font-family: $additional !important;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  color: #blue;
}

.circle-front-map p{
  font-size: 34px;
}
    
.circle-back {
  transform: rotate3d(45,45,0,180deg);
  background-color: #fff;
}
    
.back-logo {
  width: 60%;
  display: block;
  margin: 2em auto;
}
    
.outer-ring {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 191px;
  height: 191px;
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.outer-outer-ring {
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 211px;
  height: 211px;
  background-color: rgba(255,255,255,0);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.takeForm label{
  display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 55px;
    margin: 20px;

    font-size: 20px;
}

.takeForm input[type=radio] {
    display: none;
}

.takeForm label:before {
    content: "";
    display: inline-block;
 
    width: 30px;
    height: 30px;
    border-radius: 20px;
 
    margin-right: 12px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #CFCFCF;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: $blue;
    font-size: 80px;
    text-align: center;
    line-height: 23px;
}


// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------

/* New map */
.obstacles {
  img{
    margin: 30px 50px;
    padding: 5px;
    cursor: pointer;
  }
}
.bordered{
  border: 4px solid $darkGreen;
  border-radius: 8px;
}

.matchMap{
  margin-bottom: 70px;
  input{
    @extend .inputTeam;
    width: 100%;
    border-bottom: 6px solid $whiteHover;
    font-family: $heading;
    font-size: 40px;
    color: $grey;
  }
  button{
    font-family: $para;
    font-size: 22px;
    margin-top: 20px;
    padding: 15px 60px;
    color: $grey;
    background-color: transparent;
    border: 3px solid $darkGreen;
    transition: all 300ms ease-in-out;
    &:hover{
      border: 3px solid $whiteHover;
      background-color: $lightGreen;
    }
  }
}

.MapChoice{
  margin-top: 30px;
  h2{
    color: $grey;
    font-size: 38px;
    font-family: $heading;
  }
}

// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------

/* Main match begin */

.mainMatch{
  button{
    font-size: 20px;
    padding: 15px 40px;
  }
}

// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------

/* Main match action */
#time{
  position: absolute;
  top: 5px;
  left: 45%;
  font-size: 65px;
  font-family: $heading;
  color: $whiteHover;
  z-index: 1000;
}


// --------------------------------------------------------------------
// --------------------------------------------------------------------
// --------------------------------------------------------------------

/* Statistic */

.statistic{
  h1{
    color: $grey;
    font-family: $heading;
  }
  tr{
    font-family: $additional;
    font-size: 20px;
  }
}